</<html ng-app="">
<head>
	<title>Shopping Cart</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<body ng-controller="cartCtrl">
	<div ng-repeat="item in items">
		<span> {{ item.title }} </span>
		<button ng-click="remove($index)"> Remove </button>
	</div>

</body>
	<script>
		function cartCtrl($scope){
			$scope.items=[
				{title: 'Orange', quantity: 10, price: 20.50},
				{title: 'Apple', quantity: 7, price: 34},
				{title: 'Banana', quantity: 15, price: 15.30}
			];
			$scope.remove = function(index){
				$scope.items.splice(index, 1);
			}
		}
	</script>
</html>>